extends layout

block title
    title Button Group

block content
    h1 Button Group
    p Button Group desc
    hr
    h2 Basics
    p Basics desc
    pre
        code.
            div(class="button-group")
                a(class="button") One
                a(class="button") Two
                a(class="button") Three
    div(class="button-group")
        a(class="button") One
        a(class="button") Two
        a(class="button") Three
    hr
    h2 Sizing
    p Sizing desc
    pre
        code.
            div(class="small button-group")
                a(class="button") One
                a(class="button") Two
                a(class="button") Three
    div(class="small button-group")
        a(class="button") One
        a(class="button") Two
        a(class="button") Three
    hr
    h2 Coloring
    p Coloring desc
    pre
        code.
            div(class="button-group")
                a(class="secondary button") One
                a(class="success button") Two
                a(class="warning button") Three
                a(class="alert button") four
    div(class="button-group")
        a(class="secondary button") One
        a(class="success button") Two
        a(class="warning button") Three
        a(class="alert button") four
    pre
        code.
            div(class="secondary button-group")
                a(class="button") One
                a(class="button") Two
                a(class="button") Three
                a(class="button") four
    div(class="secondary button-group")
        a(class="button") One
        a(class="button") Two
        a(class="button") Three
        a(class="button") four
    hr
    h2 Even-width
    p Even-width desc
    pre
        code.
            div(class="expanded button-group")
                a(class="button") One
                a(class="button") Two
                a(class="button") Three
    div(class="expanded button-group")
        a(class="button") One
        a(class="button") Two
        a(class="button") Three
    hr
    h2 Stacking
    p Stacking desc
    pre
        code.
            div(class="stacked-for-small button-group")
                a(class="button") One
                a(class="button") Two
                a(class="button") Three
    div(class="stacked-for-small button-group")
        a(class="button") One
        a(class="button") Two
        a(class="button") Three
    hr
    h2 Split Buttons
    p Split Buttons desc
    pre
        code.
            div(class="button-group")
                a(class="button") One
                a(class="dropdown button arrow-only")
                    span(class="show-for-sr") Show menu
    div(class="button-group")
        a(class="button") One
        a(class="dropdown button arrow-only")
            span(class="show-for-sr") Show menu
