extends layout

block title
    title Grid

block content
    h1 Grid
    p Grid desc
    hr
    h2 Basics
    p Basics desc
    pre
        code.
            div(class="row")
                div(class="small-2 large-4 columns") small-2 large-4
                div(class="small-4 large-4 columns") small-4 large-4
                div(class="small-6 large-4 columns") small-6 large-4

            div(class="row")
                div(class="large-3 columns") large-3
                div(class="large-6 columns") large-6
                div(class="large-3 columns") large-3

            div(class="row")
                div(class="small-6 large-2 columns") small-6 large-2
                div(class="small-6 large-8 columns") small-6 large-8
                div(class="small-12 large-2 columns") small-12 large-2

            div(class="row")
                div(class="small-3 columns") small-3
                div(class="small-9 columns") small-9

            div(class="row")
                div(class="large-4 columns") large-4
                div(class="large-8 columns") large-8

            div(class="row")
                div(class="small-6 large-5 columns") small-6 large-5
                div(class="small-6 large-7 columns") small-6 large-7

            div(class="row")
                div(class="large-6 columns") large-6
                div(class="large-6 columns") large-6
    div(class="row display")
        div(class="small-2 large-4 columns") small-2 large-4
        div(class="small-4 large-4 columns") small-4 large-4
        div(class="small-6 large-4 columns") small-6 large-4
    div(class="row display")
        div(class="large-3 columns") large-3
        div(class="large-6 columns") large-6
        div(class="large-3 columns") large-3
    div(class="row display")
        div(class="small-6 large-2 columns") small-6 large-2
        div(class="small-6 large-8 columns") small-6 large-8
        div(class="small-12 large-2 columns") small-12 large-2
    div(class="row display")
        div(class="small-3 columns") small-3
        div(class="small-9 columns") small-9
    div(class="row display")
        div(class="large-4 columns") large-4
        div(class="large-8 columns") large-8
    div(class="row display")
        div(class="small-6 large-5 columns") small-6 large-5
        div(class="small-6 large-7 columns") small-6 large-7
    div(class="row display")
        div(class="large-6 columns") large-6
        div(class="large-6 columns") large-6
    hr
    h2 Small Grids
    p Small Grids desc
    pre
        code.
            div(class="row")
                div(class="small-2 columns") small-2
                div(class="small-10 columns") small-10
            div(class="row")
                div(class="small-3 columns") small-3
                div(class="small-9 columns") small-9
    div(class="row display")
        div(class="small-2 columns") small-2
        div(class="small-10 columns") small-10
    div(class="row display")
        div(class="small-3 columns") small-3
        div(class="small-9 columns") small-9
    hr
    h2 Medium Grids
    p Medium Grids desc
    pre
        code.
            div(class="row")
                div(class="medium-2 columns") medium-2
                div(class="medium-10 columns") medium-10
            div(class="row")
                div(class="medium-3 columns") medium-3
                div(class="medium-9 columns") medium-9
    div(class="row display")
        div(class="medium-2 columns") medium-2
        div(class="medium-10 columns") medium-10
    div(class="row display")
        div(class="medium-3 columns") medium-3
        div(class="medium-9 columns") medium-9
    hr
    h2 Offsets
    p Offsets desc
    pre
        code.
            div(class="row")
                div(class="large-1 columns") 1
                div(class="large-11 columns") 11
            div(class="row")
                div(class="large-1 columns") 1
                div(class="large-10 large-offset-1 columns") 10, offset 1
            div(class="row")
                div(class="large-1 columns") 1
                div(class="large-9 large-offset-2 columns") 10, offset 2
    div(class="row display")
        div(class="large-1 columns") 1
        div(class="large-11 columns") 11
    div(class="row display")
        div(class="large-1 columns") 1
        div(class="large-10 large-offset-1 columns") 10, offset 1
    div(class="row display")
        div(class="large-1 columns") 1
        div(class="large-9 large-offset-2 columns") 10, offset 2
    hr
    h2 Block Grids
    p Block Grids desc
    pre
        code.
            div(class="row small-up-1 medium-up-2 large-up-4")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
              div(class="column")
                img(src="//placehold.it/300x300" class="thumbnail" alt="")
    div(class="row small-up-1 medium-up-2 large-up-4")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
        div(class="column")
            img(src="//placehold.it/300x300" class="thumbnail" alt="")
    h1 Building Semantically
    p Building Semantically desc
    hr
    h2 Rows
    p Rows desc
    pre
        code.
            .container {
              @include grid-row;
            }
    hr
    h2 Columns
    p Columns desc
    pre
        code.
            .main-content {
               // Use the full column count (100%)
               @include grid-column;
               // Use a column count (33%);
               @include grid-column(4);
               // Use a percentage (15%)
               @include grid-column(15%);
               // Use a custom fraction (20%)
               @include grid-column(1 of 5);
             }
    hr
    h2 Multiple Grids
    p Multiple Grids desc
    pre
        code.
            .container {
                @include grid-row(16) {
                    .main-content {
                        // 5/16 = 31.25%
                        @include grid-column(5);
                    }
                    .sidebar {
                        // 11/16 = 68.75%
                        @include grid-column(11);
                    }
                }
            }