doctype html
html
head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    block title
        title Guide
    link(rel="stylesheet" media="all" href="/bower_components/highlightjs/styles/zenburn.css")
    link(rel="stylesheet" media="all" href="/public/dist/css/stylesheet.css")
body
    div(class="row display menubox")
        div(class="small-3 columns menu")
            h3 Zeki v0.0.1
            ul
                li: a(href="/public/dist/docs/index.html") Sass Guide
                li General
                    ul
                        li: a(href="/public/dist/html/grid.html") Grid
                        li: a(href="") Form
                        li: a(href="") Sass
                li Component
                    ul
                        li: a(href="/public/dist/html/button.html") Button
                        li: a(href="/public/dist/html/button-group.html") Button Group
                        li: a(href="") Slider
                        li: a(href="") Swich
                li Navigation
                    ul
                        li: a(href="") Pagination
                        li: a(href="") Breadcrumbs
                li Containers
                    ul
                        li: a(href="") Dropdown
                        li: a(href="") Modal
                        li: a(href="") table
                        li: a(href="") tabs
        div(class="small-9 columns contentbox")
            block content
    script(src="/bower_components/highlightjs/highlight.pack.js" type="text/javascript")
    script hljs.initHighlightingOnLoad();